<div class="form-bk"></div>

<div class="guestbook">

<div class='notes-containter'>
	<% @note.each do |n| %>
		<div class="item"> 
		  <%= n.text %>
		  <br>
		  <div class="name">From:</div> <%= n.name %>
		</div>
	<% end %>
</div>

</div>

<img class="thingy2" src="<%= asset_path('testshape.svg')%>" alt="Logo Image">
