<body> 

<canvas id="myCanvas" resize></canvas>

	<div id="scroll-on-page-top">
	  <div class="scroll-on-page">
	  
	    <a class="scroll-on-page-link" href="#scroll-link-1">First Scroll Link</a>
	    <a class="scroll-on-page-link" href="#scroll-link-2">Second Link</a>
	    <a class="scroll-on-page-link" href="#scroll-link-3">Last Link</a>	
	  </div>  
	</div>

  <article>
  	<div class="scenarios">
      <h4 id="scroll-link-1">First Target</h4>
      <div class="b1">SCENARIO<br>ONE.</div>
      <a class="scroll-on-page-link" href="#scroll-link-2">NEXT</a>
    </div>
    <div class="scenarios">
    <section>
      <h4 id="scroll-link-2">Second Target</h4>
      <div class="b1">SCENARIO<br>TWO.</div>
      <a class="scroll-on-page-link" href="#scroll-link-3">NEXT</a>
    </section>
    </div>
    <div class="scenarios">
    <section>
      <h4 id="scroll-link-3">Last Target</h4>
      <div class="b1">SCENARIO<br>THREE.</div>
      <a class="scroll-on-page-link" href="#scroll-on-page-top">TOP</a>
    </section>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
  </article>
</div>

<button id="a" >Happy</button>
<button id="b" >Eh</button>
<button id="c" >Kinda Happy</button>
<button id="d" >Sad</button>
  <canvas id="myCanvas" resize></canvas> 
  <%= render 'dots' %>

</body>
