<body> 
<button id="a" >Happy</button>
<button id="b" >Eh</button>
<button id="c" >Kinda Happy</button>
<button id="d" >Sad</button>
  <canvas id="myCanvas" resize></canvas> 
  <%= render 'dots' %>
</body>
