<div id="container" ng-app="SelmaApp">
  <!-- SOUNDCLOUD IFRAME -->
  <iframe id="sc-widget" src=<%= "https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/186967644?client_id=#{ENV['SOUNDCLOUD_CLIENT_ID']}" %> width="0" height="0" scrolling="no" frameborder="no"></iframe>

  <div id="content-wrapper" ng-controller="patchController">

    <div class="headphones-container">
          <h2>Hear <span>Color</span></h2>
    <p>Selma has synesthesia, which allows her to see colors when she hears music. See the world through her ears.</p>
      <i id="headphones" class="fa fa-headphones"></i>
      <h3>Plug in headphones to begin</h3>
      <button class="listen-btn">Listen</button>





    </div>

    <div class="music-player hidden">
      <i class="fa fa-play play-icon" ng-click="togglePlay()"></i>
    </div>

      <!-- Question squares -->
    <div id="questions" class="hidden">
      <p>Which color do you imagine?</p>
      <div id="square-1" class="square" ng-click="addSquareColor('#AEE5F1')"></div>
      <div id="square-2" class="square" ng-click="addSquareColor('#F25239')"></div>
      <div id="square-3" class="square" ng-click="addSquareColor('#B3BCBF')"></div>
      <div id="square-4" class="square" ng-click="addSquareColor('#FEBBCD')"></div>
      <!-- <div id="square-5" class="square" ng-click="addSquareColor('transparent')"></div> -->
    </div>

    <!-- Dream patch squares. Hidden by default -->
    <!-- <div id="dream-patch" class="hidden"> -->
    <div id="dream-patch">
      <div ng-repeat="square in squares" id="answer-square-{{$index}}" class="answer-square"></div>
    </div>

    <a download='dreampatch.png' id='save' class='button hidden'> save </a>
    <div id='img-out'></div>

    <!-- Full quilt of all users patches -->
    <div id="quilt">
      <div class="quilt-patch" ng-repeat="patch in patches">
        <div class="quilt-square" ng-repeat="triangle in patch" style="border-top-color:{{triangle.topColor}};border-right-color:{{triangle.sideColor}};border-left-color:{{triangle.sideColor}};"></div>
      </div>
    </div>

  </div><!-- Closes content-wrapper -->

</div><!-- Closes container  -->


<script type="text/javascript">

  $(function() { 
    var theCanvas
      $("#save").click(function() { 
          html2canvas($("#dream-patch"), {
              onrendered: function(canvas) {
                save.href = canvas.toDataURL("image/png")              
              }
          })
      })
  }); 

</script>
