<div id="container">
  <!-- SOUNDCLOUD IFRAME -->
  <iframe id="sc-widget" src=<%= "https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/190913112?client_id=#{ENV['SOUNDCLOUD_CLIENT_ID']}" %> width="500" height="170" scrolling="no" frameborder="no"></iframe>

  <!-- Question squares -->
  <div id="questions" class="hidden">
    <p>Which color do you imagine?</p>
    <div id="square-1" class="square" onclick="addSquareColor('#AEE5F1')"></div>
    <div id="square-2" class="square" onclick="addSquareColor('#F25239')"></div>
    <div id="square-3" class="square" onclick="addSquareColor('#B3BCBF')"></div>
    <div id="square-4" class="square" onclick="addSquareColor('#FEBBCD')"></div>
  </div>

  <!-- Dream tile squares. Hidden by default -->
  <div id="dream-tile">
    <div id="answer-square-1" class="answer-square"></div>
    <div id="answer-square-2" class="answer-square"></div>
    <div id="answer-square-3" class="answer-square"></div>
    <div id="answer-square-4" class="answer-square"></div>
    <div id="answer-square-5" class="answer-square"></div>
    <div id="answer-square-6" class="answer-square"></div>
  </div>

  <a download='dreampatch.png' id='save'   class='button'> save </a>
  <div id='img-out'></div>


</div><!-- Closes container  -->


<script type="text/javascript">

  $(function() { 
    var theCanvas
      $("#save").click(function() { 
          html2canvas($("#dream-tile"), {
              onrendered: function(canvas) {
                save.href = canvas.toDataURL("image/png")              }
          })
      })
  }); 

  // Sets Soundcloud iframe as a player controllable by js. Also sets global variables.
  var widgetIframe = document.getElementById('sc-widget'),
      widget = SC.Widget(widgetIframe),
      clickCount = 1,
      track_position = "";

  // Hides question square after user clicks a square
  $('.square').click(function(){
    $('#questions').addClass('hidden');
    clickCount += 0.5;
    html2canvas($("#dream-tile"), {
              onrendered: function(canvas) {
                save.href = canvas.toDataURL("image/png")              }
          })

  })

  // Adds color to half of the square. Adds color to each half before increasing the count to the next integer
  function addSquareColor(color){
    var clickCountString = Math.floor(clickCount).toString();
    if (clickCount % 1 == 0.5){
      $('#answer-square-' + clickCountString).css({"borderRightColor":color});
        if (clickCount >= 4.5){
          $('#save').removeClass('hidden');
        }
    } else if (clickCount % 1 == 0){
      $('#answer-square-' + clickCountString).css({"borderTopColor":color});
    }
  }

  // logs the position of the track in milliseconds
  function position(){
  	widget.getPosition(function(positionSC){
  		console.log(Math.round(positionSC));
  	});
  }

  // Listens to the track position and prompts the user with a new question ever 7 seconds
  widget.bind(SC.Widget.Events.PLAY_PROGRESS, function(eventData) {
    track_position = JSON.stringify(eventData.currentPosition);
    track_position = Math.floor(track_position/100);
    console.log(track_position);
    if (track_position % 20 == 0 && track_position > 0){
      $('#questions').removeClass('hidden');
    };
  });

</script>
