<div class="main">
<div id="container" ng-app="SelmaApp">
<%= @soundcloud_id %>
  <div id="content-wrapper" ng-controller="patchController">
    <div id="leafContainer"></div>

    
    <!-- Section 1 - Intro -->
    <article id="scroll-link-1" class="scenarios">
      <div class="headphones-container">

        <div class="b1">HEAR <span>COLOR</span></div class="b1">
        <p>Selma has synesthesia, which allows her to see colors when she hears music. See the world through her ears.<br><span>
        <i class="fa fa-headphones fa-2x"></i>
        Plug in headphones to begin</span></p>
        <button class="scn-btns">Listen</button>
        <!-- Peter's Version Below - Commeneted out for presentation -->

<!--         <h2>Hear <span>Color</span></h2>
        <p>Selma has synesthesia, which allows her to see colors when she hears music. See the world through her ears.</p>
        <i class="fa fa-headphones"></i>
        <h3>Plug in headphones to begin.</h3>
        <button class="listen-btn">Listen</button> -->

      </div>
    </article>

    <!-- Section 2 - Player -->
    
    <article  id="scroll-link-2" class="scenarios">
      <div class="music-player"> 
        <i class="fa fa-play play-icon"></i>
      </div>

        <!-- Question squares -->
      <div id="questions" class="hidden">
        <p>Which color do you imagine?</p>
        <div class="squares">
          <div id="square-1" class="square" ng-click="addSquareColor('#AEE5F1')"></div>
          <div id="square-2" class="square" ng-click="addSquareColor('#F25239')"></div>
          <div id="square-3" class="square" ng-click="addSquareColor('#B3BCBF')"></div>
          <div id="square-4" class="square" ng-click="addSquareColor('#FEBBCD')"></div>
          <!-- <div id="square-5" class="square" ng-click="addSquareColor('transparent')"></div> -->
        </div>
      </div>
      <button class="scn-btns hidden">See your patch</button>
    </article>

    <!-- Section 3 - Patch -->
    
    <article id="scroll-link-3" class="scenarios">
      <!-- Dream patch squares. Hidden by default -->
      <div id="dream-patch" class="hidden">
      <!-- <h2>Your Patch</h2> -->
      <!-- <p>You created a patch for Grandma Alma's quilt!</p> -->
        <section ng-repeat="square in squares" id="answer-square-{{$index}}" class="answer-square"></section>
      </div>
      <div class="patchbox">
      <a download='dreampatch.png' id='save' class='hidden'>Download Wallpaper</a>
      <div id='img-out'></div>
      <button id="to-quilt" class="hidden">Add to Quilt</button>
      </div>
    </article>

    <!-- Section 4 - Quilt -->
    
    <article id="scroll-link-4" class="scenarios">
      <!-- Full quilt of all users patches -->
      <!-- <h2>Grandma's Quilt</h2> -->
      <!-- <p>Watch for other dreamers to add their patches.</p> -->
      <div id="quilt">
        <div class="quilt-patch" ng-repeat="patch in patches | limitTo : 10">
          <div class="quilt-square" ng-repeat="triangle in patch" style="border-top-color:{{triangle.topColor}};border-right-color:{{triangle.sideColor}};border-left-color:{{triangle.sideColor}};"></div>
        </div>
      </div>
      <%#= link_to 'Home', root_path, class: 'back-button' %>
    </article>



  </div><!-- Closes content-wrapper -->

</div><!-- Closes container  -->

</div> 

<script type="text/javascript">

  $(function() { 
    var theCanvas
      $("#save").click(function() {
          $('#dream-patch').css('backgroundColor', '#9BCAE1');
          html2canvas($("#dream-patch"), {
              onrendered: function(canvas) {
                save.href = canvas.toDataURL("image/png")              
              }
          })
      })
  });

  // var clickCount = -0.5;

  // var audioReady = function () {
  //   // loads audio track from public directory
  //   var soundcloudID = <%= ENV["SOUNDCLOUD_CLIENT_ID"] %>
  //   this.load("https://api.soundcloud.com/tracks/188155459/stream?client_id=" + soundcloudID);
  //   // maps trigger to play button
  //   var play_pause = document.querySelector('.play-icon');
  //   play_pause.addEventListener('click', playPause.bind(this));
  //   var current_position;
  //   // Binds playback counter to a constantly running number
  //   this.on('timeupdate', function (position, duration) {
  //     track_position = Math.floor(position);
  //     if (track_position % 3 == 0 && track_position > 0 && track_position != current_position){
  //       // Checks to make sure color squares do not load more than once for the same time position
  //       current_position = track_position;
  //       $('#questions').removeClass('hidden');
  //       $('#questions p').addClass('expand');
  //       $('.square').addClass('pop-up');
  //     };
  //   }, this);
  // }

  // var playPause = function () {
  //   // sets to full volume
  //   this.volume(1);
  //   // toggles icon from play to pause
  //   this.playPause();
  //   $('.play-icon').toggleClass('fa-pause');
  //     $('.play-icon').toggleClass('fa-play');
  //   // console.log(this.position, this.duration, this.load_percent, this.volume());
  // }

  // var initAudio = function () {
  //   // initiliazes audio player and sets backup default as audio5js.swf
  //   var audio5js = new Audio5js({
  //     swf_path: '/statics/swf/audio5js.swf',
  //     throw_errors: true,
  //     format_time: false,
  //     ready: audioReady
  //   });
  // }

  // initAudio();

</script>
