<div class="main">
<div id="container" ng-app="SelmaApp">
  <!-- SOUNDCLOUD IFRAME -->
  <iframe id="sc-widget" src=<%= "https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/186967644?client_id=#{ENV['SOUNDCLOUD_CLIENT_ID']}" %> width="0" height="0" scrolling="no" frameborder="no"></iframe>

  <div id="content-wrapper" ng-controller="patchController">

    
    <!-- Section 1 - Intro -->
    <article id="scroll-link-1" class="scenarios">
      <div class="headphones-container">

        <div class="b1">HEAR <span>COLOR</span></div class="b1">
        <p>Selma has synesthesia, which allows her to see colors when she hears music. See the world through her ears.<br><span>
        <i class="fa fa-headphones fa-2x"></i>
        Plug in headphones to begin</span></p>
        <button class="scn-btns">Listen</button>
        <!-- Peter's Version Below - Commeneted out for presentation -->

<!--         <h2>Hear <span>Color</span></h2>
        <p>Selma has synesthesia, which allows her to see colors when she hears music. See the world through her ears.</p>
        <i class="fa fa-headphones"></i>
        <h3>Plug in headphones to begin.</h3>
        <button class="listen-btn">Listen</button> -->

      </div>
    </article>

    <!-- Section 2 - Player -->
    
    <article  id="scroll-link-2" class="scenarios">
      <div class="music-player">
        <i class="fa fa-play play-icon" ng-click="togglePlay()"></i>
      </div>

        <!-- Question squares -->
      <div id="questions" class="hidden">
        <p>Which color do you imagine?</p>
        <div class="squares">
          <div id="square-1" class="square" ng-click="addSquareColor('#AEE5F1')"></div>
          <div id="square-2" class="square" ng-click="addSquareColor('#F25239')"></div>
          <div id="square-3" class="square" ng-click="addSquareColor('#B3BCBF')"></div>
          <div id="square-4" class="square" ng-click="addSquareColor('#FEBBCD')"></div>
          <!-- <div id="square-5" class="square" ng-click="addSquareColor('transparent')"></div> -->
        </div>
      </div>
      <button class="scn-btns">See your patch</button>
    </article>

    <!-- Section 3 - Patch -->
    
    <article id="scroll-link-3" class="scenarios">
      <!-- Dream patch squares. Hidden by default -->
      <!-- <div id="dream-patch" class="hidden"> -->
      <!-- <h2>Your Patch</h2> -->
      <!-- <p>You created a patch for Grandma Alma's quilt!</p> -->
      <div id="dream-patch">  
        <section ng-repeat="square in squares" id="answer-square-{{$index}}" class="answer-square"></section>
      </div>
      <div class="patchbox">
      <a download='dreampatch.png' id='save' class='scn-btns hidden'>Download Wallpaper</a>
      <div id='img-out'></div>
      <button>Add to Quilt</button>
      </div>
    </article>

    <!-- Section 4 - Quilt -->
    
    <article id="scroll-link-4" class="scenarios">
      <!-- Full quilt of all users patches -->
      <!-- <h2>Grandma's Quilt</h2> -->
      <!-- <p>Watch for other dreamers to add their patches.</p> -->
      <div id="quilt">
        <div class="quilt-patch" ng-repeat="patch in patches | limitTo: 20">
          <div class="quilt-square" ng-repeat="triangle in patch" style="border-top-color:{{triangle.topColor}};border-right-color:{{triangle.sideColor}};border-left-color:{{triangle.sideColor}};"></div>
        </div>
      </div>
      <%= link_to 'Home', root_path, class: 'back-button' %>
    </article>



  </div><!-- Closes content-wrapper -->

</div><!-- Closes container  -->

</div> 

<script type="text/javascript">

  $(function() { 
    var theCanvas
      $("#save").click(function() { 
          html2canvas($("#dream-patch"), {
              onrendered: function(canvas) {
                save.href = canvas.toDataURL("image/png")              
              }
          })
      })
  }); 

</script>
