// html {
//   height: 100%;
// }

body {
	background-color: #A0E18F;
	margin: 40px;
  padding-top: 40px;
}

// .bug {
//   width: 18%;
//   margin-left: 76%;
//   margin-top: -30px;
//   position: fixed;
//   z-index: 9999999;
// }

.scroll-on-page {
  
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #F4661F !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  
  // Typograpy //

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
  }

  .scroll-on-page-link {
    border-bottom: 1px solid transparentize($base-link-color, 0.8);
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }
}

// Storyboards //

section {
  @include outer-container;

  .scenarios {
    @include span-columns(12);
    @include media(mobile); 
    
    height: 100%;
    padding: 40px;
    border: solid 1px #acf199;
    margin-bottom: 210px; 

    .scenarios:last-child {
      margin-bottom: 40px;
    }
  
  .b1 {
    font-size: 11em;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 36px;
  }
 }
}

#myCanvas {
  margin-left: -115px;
  margin-top: -155px;
  position: fixed;
}

  