// breakpoints

$mobile: new-breakpoint(max-width 600px 6);
$mobile1: new-breakpoint(max-width 885px 6);

// Fonts

$font-stack: 'Oswald', Helvetica, sans-serif;
$body-text: 'Roboto Slab', serif;

// Color Variables

$greenscreen: #A0E18F;
$accent-one: #AEE5F1; // Light Blue
$accent-two: #F25239; // Orange
$accent-three: #B3BCBF; // Grey
$accent-four: #FEBBCD; // Pink
$grey: #333333; // Grey
$navigation-color: transparentize(white, 0.2);
$navigation-color-hover: white;

// SCSS

body {
	background-color: $greenscreen;
	margin: 40px;
  // font-family: geomanistmedium;
  // padding-top: 40px;
}

.bug {
  width: 12em;
  right: 3%;
  top: 30px;
  position: fixed;
  z-index: 9999999;
}

.thingy {
  width: 100%;
  height: 100%;
  left: 3%;
  position: fixed;
  z-index: -1;
  margin-top: -40px;
}

.thingy2 {
  width: 100%;
  height: 100%;
  left: 3%;
  position: fixed;
  z-index: -1;
  margin-top: -10px;
  margin-left: -30px;
}

.loading-icon {
  display: none;
  background-color: transparentize(white, 0.3);
  color: $greenscreen;
  padding: .75em 1em;
  border-radius: 5px;
  margin-top: 24.5%;
  margin-left: 45%;
  position: fixed;
}

body.loading {
    overflow: hidden;   
}

body.loading .loading-icon {
    display: block;
}

.scroll-on-page {
  
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #F4661F !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  
  // Typograpy

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
  }

  .scroll-on-page-link {
    border-bottom: 1px solid transparentize($base-link-color, 0.8);
    display: block;
    margin-right: $base-spacing;
    outline: none;
    padding: ($base-spacing / 2) 0;

    &:last-child {
      margin-bottom: $base-spacing;
    }
  }
}

// Storyboards //

  .scenarios {
    
    width: 100%;
    height: 100%;
    padding-top: 65px;

    @include media($mobile) {
      @include span-columns(4);
    }
  
  .b1 {
    font-size: 17vw;
    text-align: center;
    font-family: $font-stack, sans-serif;
    line-height: 1.25em;
    color: transparentize(white, 0.3);
    margin-top: 80px;
    
    // @include media($mobile1) {
    //   font-size: 10em;
    // }

    // @include media($mobile) {
    //   font-size: 5em;
    // }

  }

  p {
    display: block;
    margin: auto;
    margin-top: -5px;
    font-family: $body-text;
    text-align: center;
    background-color: $navigation-color;
    padding: 10px;
    border-radius: 3px;
    max-width: 60vw;

    // @include media($mobile) {
    //   @include span-columns(4);
    //   @include shift(1);
    // }
  }

  .scn-btns-container {
    text-align: center;

    @include media($mobile) {
        @include span-columns(4);
        @include shift(1);
      }

  }

  .scn-btns {
      @include button(flat, $navigation-color);
      appearance: none;
      user-select: none;
      display: inline;
      text-align: center;
      color: $accent-three;
      background-color: $navigation-color;
      font-family: $font-stack;
      font-size: 1.25em;
      font-weight: 900;
      margin-top: 20px;
      padding: 1em;
      text-transform: uppercase;

      &:hover {
        color: $grey;
      }

      @include media($mobile) {
        font-size: 1em;
      }

    }

 }


// Canvas

#myCanvas {
  margin-left: -100px;
  margin-top: -155px;
  position: fixed;
  z-index: -1;
}

// Forms

.f1 {
  font-family: $font-stack, sans-serif;
  font-size: 2em;
  line-height: 2em;
  color: $grey;
  border-bottom: 1px solid #ffffff; 
}

.form {
  @include span-columns(6);
  @include shift(3);
  margin-top: 5em;
  font-family: $font-stack, sans-serif;
  
  @include media($mobile) {
    @include span-columns(4);
    @include shift(1);
    overflow: scroll;
  }

  a {
    color: transparentize($grey, 0.3);
  }

  a:hover {
    color: $grey;
    transition: .5s;
  }
}

input[type="text"] {
  background-color: transparentize(white, 0.3);
  border: none;
  box-shadow: none;
  outline: none !important;
}

input[type="password"] {
  background-color: transparentize(white, 0.3);
  border: none;
  box-shadow: none;
  outline: none !important;
}

input[placeholder] {
  color: #A9A9A9;
  font-family: $font-stack;
}

input[type="submit"] {
  background-color: transparentize($grey, 0.3);
  font-family: $font-stack;
}

input[type="submit"]:hover {
    background-color: $grey;
  }
