//Music Page Styles//////////////////////////////////////////////////////

$mobile: new-breakpoint(max-width 600px 6);
$greenscreen: #A0E18F;
$accent-one: #515D63; // Steel Gray
$accent-two: #ED028C; // Fuscia
$accent-three: #FFF101; // Yellow
$accent-four: #231F20; // Black
$grey: #333333; // Grey
$navigation-color: transparentize(white, 0.2);
$navigation-color-hover: white;
$font-stack: 'Oswald', Helvetica, sans-serif;

// Old Accent Colors
// $accent-one: #AEE5F1; // Light Blue
// $accent-two: #F25239; // Orange
// $accent-three: #B3BCBF; // Grey
// $accent-four: #FEBBCD; // Pink

body {
  font-family: $font-stack, sans-serif;
  color: whitesmoke;
}

// INTRO VIEW //////////////////////////////////////////////////////////

// #content-wrapper {

// Section 1 - Intro

  .scenarios {
    // padding: 5vh 0;
    // width: 100vh;
    // height: 100vw;
    // padding: 40px;
    // margin-top: 70px;

    p {
      // Web View until '@include media()'
      display: block;
      margin: 0 auto 1.2vh;
      // margin-top: -5px;
      font-family: $font-stack;
      font-size: 1.8vh;
      text-align: center;
      // text-transform: uppercase;
      color: $grey;
      background-color: $navigation-color;
      padding: 10px;
      border-radius: 3px;
      max-width: 62vh;
    }
    @include media($mobile1){
      p {
        max-width: 30vh;
      }
    }
  // button {
  //     // 
  //     @include button(flat, $navigation-color);
  //     appearance: none;
  //     user-select: none;
  //     display: inline;
  //     text-align: center;
  //     color: $accent-three;
  //     background-color: $navigation-color;
  //     font-family: $font-stack;
  //     font-size: 1.25em;
  //     font-weight: 900;
  //     margin-top: 20px;
  //     padding: 1em;
  //     text-transform: uppercase;

  //     &:hover {
  //       color: $grey;
  //     }
  //   }
  }

.headphones-container{

  span {
  color: #F25239;
  text-transform: uppercase;
  }
}

// Section 2 - Player //////////////////////////////////////////////////

#questions {

  // @include outer-container;
  // @include span-columns(8);
  // text-align: center;
  // margin-left: 15vw;
  .squares {
    // display: inline;
    margin: 0 auto 50px;
    max-width: 64vh;
    .square {
      width: 14vh;
      height: 14vh;
      margin: 1.5vh 1vh;
      border-radius: 5px;
      // display: inline-block;
      float: left;
    }
  }
  @include media($mobile1) {
    .squares {
        margin: 0 auto 50px;
        max-width: 32vh;
      .square:nth-child(2n+1) {
        clear: both;
      }    
    }
  }
}

#patch-btn {
  // display: block;
  margin: 30vh auto 0;
  // clear: both;
}

.pop-up {
  @include animation(popUp 0.4s ease-out 1 normal);
}

@include keyframes(popUp) {
  0%{
    @include transform(scale(0));
  }
  80%{
    @include transform(scale(1.08));
  }
  100%{
    @include transform(scale(1));
  }
}

.expand {
  @include animation(expand 0.2s ease-out 1 normal);
}

@include keyframes(expand) {
  0%{
    @include transform(scaleX(0));
  }
  100%{
    @include transform(scaleX(1));
  }
}


// square show animation

#square-1 {
  background: linear-gradient($accent-one, #465055); // Steel Gray
  box-shadow: 0px 1.4vh #3a4347;
}

#square-2 {
  background: linear-gradient($accent-two, #d4027d); // Fuscia
  box-shadow: 0px 1.4vh #ba026e;
}

#square-3 {
  background: linear-gradient($accent-three, #e7da00); // Yellow
  box-shadow: 0px 1.4vh #cdc200;
}

#square-4 {
  background: linear-gradient(#312b2c, $accent-four); // Black
  box-shadow: 0px 1.4vh #000000;
}

.hidden {
  visibility: hidden;
}

.music-player {
  margin: 16vh auto -30vh;
  // width: 400px;
  height: 46vh;
  background-repeat: no-repeat;
  text-align: center;
  
  i {
    color: #90268F;
    font-size: 14vh;
  }
}

@include media($mobile1){
  .music-player {
    margin: 5vh auto -30vh;
  }
}


//DREAM PATCH ///////////////////////////////////////////////////////////

#container {
  // width: 600px;
  margin: 1vh auto;
  text-align: center;
}

.dream-patch {
  // margin: -2vh auto;
    margin: 10vh auto 2vh;
  display: inline-block;
  // height: 420px;
  height: 36vh;
}

.answer-square {
  float: left;
  width: 12vh;
  height: 12vh;
  border-top: 12vh solid transparent;
  // width: 140px;
  // height: 140px;
  // border-top: 140px solid transparent;
}

.answer-square:nth-child(2n+1){
  clear: left;
}


#quilt {
  height: 48vh;
  width: 48vh;
  // background-image: url(http://latimesblogs.latimes.com/.a/6a00d8341c630a53ef014e8827bb78970d-640wi);
  // background-repeat: no-repeat;
  // height: 504px;
  // width: 514px;
  margin: 6vh auto;
  // background-image: url(http://i.imgur.com/XmPZZpY.jpg);
  background-size: cover;
  overflow-y: hidden;
  // background-position: 8px 2px;
  // border-radius: 5px;
  // border: 5px solid #F25239;

  // The most recently added patch is revealed (fades in)
  .quilt-patch:nth-last-child(2) {
    opacity: 0.0;
  //   @include animation(pulsate 8s ease-out);
  //   @include animation-iteration-count(infinite); 
  }
  // @include keyframes(pulsate) {
  //     0% {@include transform(scale(0.1, 0.1) opacity 0.0)}
  //     50% {opacity: 1.0;}
  //     100% {@include transform(scale(1.2, 1.2) opacity 0.0)}
  // }
}

.quilt-scenario {
  padding: 40px 0px;
}

.reveal {
    opacity: 0.0;
    @include animation(reveal 5s ease-out);
    @include animation-fill-mode(forwards);
    // @include animation-iteration-count(infinite); 
  }
  @include keyframes(reveal) {
      0% {@include transform(scale(0.1, 0.1) opacity 0.0)}
      100% {opacity: 1.0;}
      // 100% {@include transform(scale(1.2, 1.2) opacity 0.0)}
  }


// SINGLE CENTER DIAMOND ////////////////////////////////////////////////////////

// Patches 1-3
.quilt-patch {
  float: left;
  width: 4vh;
  // width: 84px;
  .quilt-square {
    float: left;
    width: 2vh;
    height: 2vh;
    border-top: 2vh solid;
    border-right: 2vh solid;
    // width: 42px;
    // height: 42px;
    // border-top: 42px solid;
    // border-right: 42px solid;
  }
  .quilt-square:nth-child(6){
    border-right-color: transparent !important;
  }
}

.quilt-patch:nth-child(n+1):nth-child(-n+3){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 4-6
div:nth-of-type(n+4):nth-of-type(-n+6){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 7-9
div:nth-of-type(n+7):nth-of-type(-n+9){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 10-12
div:nth-of-type(n+10):nth-of-type(-n+12){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 13-15
div:nth-of-type(n+13):nth-of-type(-n+15){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 16-18
div:nth-of-type(n+16):nth-of-type(-n+18){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 19-21
div:nth-of-type(n+19):nth-of-type(-n+21){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 22-24
div:nth-of-type(n+22):nth-of-type(-n+24){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}


// Patches 25-27
div:nth-of-type(n+25):nth-of-type(-n+27){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
}

// Patches 28-30
div:nth-of-type(n+28):nth-of-type(-n+30){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 31-33
div:nth-of-type(n+31):nth-of-type(-n+33){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 34-36
div:nth-of-type(n+34):nth-of-type(-n+36){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}


// Patches 37-39
div:nth-of-type(n+37):nth-of-type(-n+39){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
}

// Patches 40-42
div:nth-of-type(n+40):nth-of-type(-n+42){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 43-45
div:nth-of-type(n+43):nth-of-type(-n+45){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 46-48
div:nth-of-type(n+46):nth-of-type(-n+48){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 49-51
div:nth-of-type(n+49):nth-of-type(-n+51){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 52-54
div:nth-of-type(n+52):nth-of-type(-n+54){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 55-57
div:nth-of-type(n+55):nth-of-type(-n+57){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 58-60
div:nth-of-type(n+58):nth-of-type(-n+60){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 61-63
div:nth-of-type(n+61):nth-of-type(-n+63){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 64-66
div:nth-of-type(n+64):nth-of-type(-n+66){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 67-69
div:nth-of-type(n+67):nth-of-type(-n+69){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 70-72
div:nth-of-type(n+70):nth-of-type(-n+72){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 73-75
div:nth-of-type(n+73):nth-of-type(-n+75){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
}

// Patches 76-78
div:nth-of-type(n+76):nth-of-type(-n+78){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 79-81
div:nth-of-type(n+79):nth-of-type(-n+81){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 82-84
div:nth-of-type(n+82):nth-of-type(-n+84){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}


// Patches 85-87
div:nth-of-type(n+85):nth-of-type(-n+87){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
}

// Patches 88-90
div:nth-of-type(n+88):nth-of-type(-n+90){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

// Patches 91-93
div:nth-of-type(n+91):nth-of-type(-n+93){
  .quilt-square {
    border-left: 2vh solid;
    // border-left: 42px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

// Patches 94-96
div:nth-of-type(n+94):nth-of-type(-n+96){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}


// END OF QUILT //////////////////////////////////////////////////////////////

#img-out {
  display: none;
}

#save {
  // font-size: 3vw; Hidden for web view
  padding: 1vh;
  color: #5a6465;
  display: block;
  width: 24vh;
  // width: 280px;
  margin: auto;
  /* margin-bottom: 399px; */
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 9999;
  position: relative;
  // margin-top: -143px;
  font-size: 1.25em;
}

@include media($mobile){
  #save {
    font-size: 3.5vw;
  }
}




