////////////////////////////////////////////////////////Music Page Styles

#questions {
  width: 500px;
  text-align: center;
  color: white;
  margin: 40px auto;
}

.square {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0px 20px;
  border-radius: 50%;
}

.square:hover {
  border: 1px solid white;
}

#square-1 {
  background-color: #AEE5F1;
}

#square-2 {
  background-color: #F25239;
}

#square-3 {
  background-color: #B3BCBF;
}

#square-4 {
  background-color: #FEBBCD;
}

.hidden {
  visibility: hidden;
}

.music-player {
  margin: 0 auto;
  width: 370px;
  height: 370px;
  background-color: rgba(100, 100, 100, 0.4);
  background-image: url(http://41.media.tumblr.com/7c4bf204321c53862755ab09c21fb8c8/tumblr_nc5yc1pmTZ1s2xh4ao2_500.jpg);
  border-radius: 50%;
  background-repeat: no-repeat;
  text-align: center;
  color: darkorange;
  font-size: 140px;
  box-shadow: 0 12px 0 #111;
}

.music-player:hover {
  box-shadow: 0 12px 0 #111, inset 0 0 0 1000px rgba(200,200,200, 0.4);
}

.play-icon {
  margin-top: 115px;
}

#sc-widget {
  display: none;
}

//DREAM PATCH //////////////////////////////////////////////////////

#container {
  width: 600px;
  margin: 100px auto;
  text-align: center;
}

#dream-patch {
  margin: 50px;
  height: 750px;
  padding-bottom: 50px;
  // background-image: url(http://www.downtownla.com/images/5_0_aboutUS/lapl-bradbury.jpg);
  // background-size: cover;
}

.answer-square {
  float: left;
  width: 250px;
  height: 250px;
  border-top: 250px solid transparent;
}

.answer-square:nth-child(2n+1){
  clear: left;
}


#quilt {
  height: 600px;
  margin: 50px 0px;
  background-image: url(http://latimesblogs.latimes.com/.a/6a00d8341c630a53ef014e8827bb78970d-640wi);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden; // Hide to remove overflow for effect
}

// SINGLE CENTER DIAMOND ////////////////////////////////////////////////////////

.quilt-patch {
  float: left;
  width: 100px;
  .quilt-square {
    float: left;
    width: 50px;
    height: 50px;
    border-top: 50px solid;
    border-right: 50px solid;
  }
  .quilt-square:nth-child(6){
    border-right-color: transparent !important;
  }
}

.quilt-patch:nth-child(n+1):nth-child(-n+3){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

.quilt-patch:nth-child(n+4):nth-child(-n+6){
  .quilt-square {
    border-left: 50px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

.quilt-patch:nth-child(n+7):nth-child(-n+9){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

.quilt-patch:nth-child(n+10):nth-child(-n+12){
  .quilt-square {
    border-left: 50px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

.quilt-patch:nth-child(n+13):nth-child(-n+15){
  .quilt-square {
    border-left: 50px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }

}

.quilt-patch:nth-child(n+16):nth-child(-n+18){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

.quilt-patch:nth-child(n+19):nth-child(-n+21){
  .quilt-square {
    border-left: 50px solid;
    border-right-width: none; // Comment out for random pattern effect
    border-right-style: none; // Comment out for random pattern effect
  }
  .quilt-square:nth-child(5){
    border-left-color: transparent !important;
  }
  .quilt-square:nth-child(2){
    border-top-color: transparent !important;
  }
}

.quilt-patch:nth-child(n+22):nth-child(-n+24){
  .quilt-square:nth-child(1){
    border-top-color: transparent !important;
  }
}

.quilt-square:nth-child(2n+1){
  clear: left;
}


// MULTI DIAMOND ////////////////////////////////////////////////////////

// .quilt-patch {
//   float: left;
//   width: 100px;
//   .quilt-square {
//     float: left;
//     width: 50px;
//     height: 50px;
//     border-top: 50px solid;
//     border-right: 50px solid;
//   }
//   .quilt-square:nth-child(6){
//     border-right-color: transparent !important;
//   }
//   .quilt-square:nth-child(1){
//     border-top-color: transparent !important;
//   }
// }

// .quilt-patch:nth-child(n+1):nth-child(even):nth-child(-n+6){
//   .quilt-square {
//     border-left: 50px solid;
//     border-right-width: none; // Comment out for random pattern effect
//     border-right-style: none; // Comment out for random pattern effect
//   }
//   .quilt-square:nth-child(5){
//     border-left-color: transparent !important;
//   }
//   .quilt-square:nth-child(2){
//     border-top-color: transparent !important;
//   }
// }

// .quilt-patch:nth-child(n+7):nth-child(odd):nth-child(-n+12){
//   .quilt-square {
//     border-left: 50px solid;
//     border-right-width: none; // Comment out for random pattern effect
//     border-right-style: none; // Comment out for random pattern effect
//   }
//   .quilt-square:nth-child(5){
//     border-left-color: transparent !important;
//   }
//   .quilt-square:nth-child(2){
//     border-top-color: transparent !important;
//   }
// }

// .quilt-patch:nth-child(n+13):nth-child(even):nth-child(-n+18){
//   .quilt-square {
//     border-left: 50px solid;
//     border-right-width: none; // Comment out for random pattern effect
//     border-right-style: none; // Comment out for random pattern effect
//   }
//   .quilt-square:nth-child(5){
//     border-left-color: transparent !important;
//   }
//   .quilt-square:nth-child(2){
//     border-top-color: transparent !important;
//   }
// }

// .quilt-patch:nth-child(n+19):nth-child(odd):nth-child(-n+24){
//   .quilt-square {
//     border-left: 50px solid;
//     border-right-width: none; // Comment out for random pattern effect
//     border-right-style: none; // Comment out for random pattern effect
//   }
//   .quilt-square:nth-child(5){
//     border-left-color: transparent !important;
//   }
//   .quilt-square:nth-child(2){
//     border-top-color: transparent !important;
//   }
// }

// END MULTI DIAMOND ////////////////////////////////////////////////////////


#img-out {
  display: none;
}

#save {
  font-size: 24px;
  background-color: #EEC561;
  padding: 6px;
  color: peru;
  border: none;
  box-shadow: 0px 6px #e7ac1c;
}