$mobile: new-breakpoint(max-width 640px 6);

span {
  font-size: .75em;
  color: #7F7F7F;
}

.item {
  @include span-columns(4);
  @include omega(3n);
  margin-top: 2%;
  background-color: transparentize(white, 0.2);
  display: inline-block;
  height: 140px;
  border-radius: 5px;
  color: black;
  padding: 2%;
  overflow-y: scroll;

  @include media ($mobile) {
    @include span-columns(6);
    padding: 5%;
    font-size: .88em;
  }

}

.notes-containter {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;

  @include media($mobile) {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%; 
  }
}