
<canvas id="myCanvas" resize></canvas>

  <!-- StoryBoards Begin -->
  
  <div class="main">
    
    	<article id="scroll-link-1" class="scenarios">
        <div class="b1">WELCOME!<br></div>
          <p>Help me find the link between a young girl, and extravagent monster, and a librarian.</p>
          <div class="scn-btns-container">
            <button class="scn-btns v1" id="start" >BEGIN</button>
          </div>  
      </article>
      <article  id="scroll-link-2" class="scenarios">
        <div class="b1">DREAMTIME<br></div>
          <p>Who would you choose to be in dream time? Selma? Wang? Or the Librarian?</p>
          <div class="scn-btns-container">
            <button class="scn-btns v1" id="a" >: )</button>
            <button class="scn-btns v2" id="b" >: |</button>
            <button class="scn-btns v3" id="c" >: \</button>
            <button class="scn-btns v4" id="d" >: (</button>
          </div>  
      </article>
      <article id="scroll-link-3" class="scenarios">
        <div class="b1">IN BETWEEN<br></div>
          <p>How would you help Selma in her nightmare?</p>
          <div class="scn-btns-container">
            <button class="scn-btns v1" id="a" >: )</button>
            <button class="scn-btns v2" id="b" >: |</button>
            <button class="scn-btns v3" id="c" >: \</button>
            <button class="scn-btns v4" id="d" >: (</button>
          </div>  
      </article>
      <article id="scroll-link-4" class="scenarios">
        <div class="b1">2040<br></div>
          <p>How would you choose to travel between Dreamtime and Realtime?</p>
          <div class="scn-btns-container">
            <button class="scn-btns v1" id="a" >: )</button>
            <button class="scn-btns v2" id="b" >: |</button>
            <button class="scn-btns v3" id="c" >: \</button>
            <button class="scn-btns v4" id="d" >: (</button>
          </div>  
      </article>
      <article id="scroll-link-4" class="scenarios">
        <div class="b1">FIN<br></div>
          <p>Thanks for you input</p>
          <div class="scn-btns-container">
          <button class="scn-btns v1" id="a" >More Info</button>
          <button class="scn-btns v1" id="a" >Leave a Note</button>
          </div>
          </div>  
      </article>
  </div>  
      
<%= render 'dots' %>




