
<canvas id="myCanvas" resize></canvas>

  <!-- Top of page target for scroll in page function -->

  <!-- StoryBoards Begin -->
  <article>
  <div id="scroll-on-page-top"></div>
    <br>
  	<div id="scroll-link-1" class="scenarios">
      <div class="b1">SCENARIO<br>ONE.</div>
      <a class="scroll-on-page-link" href="#scroll-link-2">NEXT</a>
    </div>
    <br>
    <div  id="scroll-link-2" class="scenarios">
      <div class="b1">SCENARIO<br>TWO.</div>
      <a class="scroll-on-page-link" href="#scroll-link-3">NEXT</a>
    </div>
    <br>
    <div id="scroll-link-3" class="scenarios">
      <div class="b1">SCENARIO<br>THREE.</div>
      <a class="scroll-on-page-link" href="#scroll-on-page-top">Top of page</a>
    </div>
    
  </article>
</div>
  
  <%= render 'dots' %>


