
<canvas id="myCanvas" resize></canvas>

  <!-- StoryBoards Begin -->
  
  <section>
    <article id="scroll-on-page-top">
    	<div id="scroll-link-1" class="scenarios">
        <div class="b1">SCENARIO<br>ONE.</div>
        <!-- <a class="scroll-on-page-link" href="#scroll-link-2">NEXT</a> -->
      </div>
    </article>  
      <article  id="scroll-link-2" class="scenarios" style="margin-top: 80px;">
        <div class="b1">SCENARIO<br>TWO.</div>
        <!-- <a class="scroll-on-page-link" href="#scroll-link-3">NEXT</a> -->
      </article>
      <article id="scroll-link-3" class="scenarios">
        <div class="b1">SCENARIO<br>THREE.</div>
        <!-- <a class="scroll-on-page-link" href="#scroll-link-4">NEXT</a> -->
      </article>
      <article id="scroll-link-4" class="scenarios">
        <div class="b1">SCENARIO<br>FOUR.</div>
        <!-- <a class="scroll-on-page-link" href="#scroll-on-page-top">Top of page</a> -->
      </article>
    </section>
      
<%= render 'dots' %>


